.sortButtonContainer {
  @include column-flexbox(center, center);
  gap: 1.8rem;
  padding-bottom: 11.4rem;

  &-Wrapper {
    @include flexbox(center, center);
    height: 11rem;
    padding: 3.2rem;
  }
}

.sortButton {
  @include flexbox(center, center);
  width: 48.4rem;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  background: $button-background;
  transition: width 0.3s ease;

  @media (max-width: 1024px) {
    width: 28.5rem;
  }

  @media (max-width: 600px) {
    width: 22rem;
  }

  & p {
    color: $white;
    font-feature-settings: "clig" off, "liga" off;
    font-family: $font-main;
    font-size: $font-size-16;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
  }
}
