.chaptercardlist-section {
  margin: 100px 30px;
}

.chaptercardlist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.5rem;
  column-gap: 2rem;
  margin: 0 auto;
  width: fit-content;
  gap: 30px;
  align-self: stretch;
}

@media all and (max-width: 1124px) {
  .chaptercardlist {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (max-width: 767px) {
  .chaptercardlist {
    grid-template-columns: repeat(2, 1fr);
  }
}
