$white: #ffffff;
$black: #000000;

$brown-50: #341909;
$brown-40: #542f1a;
$brown-30: #c7bbb5;
$brown-10: #f5f1ee;

$blue-50: #1877f2;

$background: #f9f9f9;

$text-white: #e0e0e0;
$text-gray: #5a5e6c;

$gray-40: #818181;

$yellow-50: #FEE500;