.commentList {
  @include column-flexbox();
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  &-content {
    width: 68.4rem;
    height: 5.8rem;
  }
}
.inputBox {
  @include column-flexbox();
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  &-input {
    @include text-style(16, 400, $black);
    width: 68.4rem;
    height: 19.2rem;
    border-radius: 0.8rem;
    border: 0.1rem solid $black;
  }
  &-button {
    @include text-style(16, 400, $white);
    width: 68.4rem;
    height: 4.8rem;
    border-radius: 0.8rem;
    border: 0.1rem solid $black;
    background-color: $brown-40;
  }
}
